[% USE YAML %]
<article>
<header>
  <h1>
    Oops!
  </h1>
</header>
<section>
  <p>Something went wrong...</p>
  <p>
    [% error.http_code | html %]
  </p>
  <pre>[% error.simple_message | html %]</pre>
  <pre>[% YAML.dump(error.caller) | html %]</pre>
</section>
<footer>
</footer>
</article>
